{deps, [
  % {erl_snowflake, {git, "https://github.com/petrkozorezov/erl_snowflake.git", {branch, "master"}}},
  {erl_snowflake   , "1.1.0"},
  {erl_eval_records, "1.0.0"},
  {estdinout       , "1.0.0"}
]}.

{overrides,
  [
    {override, erl_snowflake,
      [
        {erl_opts, [
          {d, unused_bits    ,  0},
          {d, timestamp_bits , 41},
          {d, machine_id_bits, 13},
          {d, counter_bits   , 10},
          {d, epoch          , 1314220021721}
        ]}
      ]
    }
  ]
}.
